In [1]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib as plt
import seaborn as sns
import numpy as np
import geopandas as gpd

from shapely.geometry import Point
from shapely.geometry import MultiLineString
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from folium.plugins import BeautifyIcon
import folium.plugins as plugins

In [2]:
database_name = 'scoots'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [5]:
bus_stops = pd.read_csv('../data/busstops_cleaned.csv')

In [6]:
bs_uc = bus_stops[bus_stops['route'].str.contains('UNIVERSITY')]

In [7]:
bs_uc.head()

,stop,route,location,lat,lng
5,WEDGEWOOD AVE & 18TH AVE S WB,UNIVERSITY CONNECTOR,"(36.137212, -86.796865)",36.137212,-86.796865
13,28TH AVE N & HERMAN ST NB,UNIVERSITY CONNECTOR,"(36.161575, -86.819214)",36.161575,-86.819214
53,WEDGEWOOD AVE & 17TH AVE S EB,UNIVERSITY CONNECTOR,"(36.136868, -86.795931)",36.136868,-86.795931
73,JEFFERSON ST & ED TEMPLE BLVD WB,UNIVERSITY CONNECTOR,"(36.167813, -86.820382)",36.167813,-86.820382
110,21 ST AVE N & MEHARRY BLVD NB,UNIVERSITY CONNECTOR,"(36.16748, -86.809233)",36.167480,-86.809233

In [8]:
bs_uc1 = bs_uc[['stop', 'lat', 'lng']]
bs_uc1.shape

(79, 3)

In [9]:
stretch1 = '''

WITH outlier_free AS
(SELECT *
    FROM trips
    WHERE tripduration BETWEEN 1 AND 60
        AND tripdistance BETWEEN 1 AND 15840)
SELECT 
    triprecordnum,
    starttime,
    startlatitude,
    startlongitude,
    endlatitude,
    endlongitude
FROM outlier_free
WHERE starttime BETWEEN '05:30:00' AND '18:00:00' 

'''
s1 = pd.read_sql(stretch1, con=engine)

In [10]:
s1.head(1)

,triprecordnum,starttime,startlatitude,startlongitude,endlatitude,endlongitude
0,LFT88,11:45:18.720000,36.15655,-86.78726,36.13449,-86.80193

In [11]:
s1['start_location'] = '('+ s1['startlatitude'].astype(str) +', '+ s1['startlongitude'].astype(str) +')'
s1['end_location'] = '('+ s1['endlatitude'].astype(str) +', '+ s1['endlongitude'].astype(str) +')'

In [12]:
s1_joiner = s1[['triprecordnum', 'endlatitude', 'endlongitude']]

In [13]:
s1_joiner

       triprecordnum  endlatitude  endlongitude
0              LFT88    36.134490    -86.801930
1          LIM786218    36.157943    -86.769518
2          LIM786217    36.153321    -86.783966
3          LIM786215    36.142869    -86.807160
4          LIM786216    36.152162    -86.807043
...              ...          ...           ...
127609         BRD20    36.166900    -86.779400
127610         BRD19    36.137600    -86.800200
127611         LFT84    36.162380    -86.774560
127612         LFT85    36.134360    -86.802330
127613         LFT86    36.142170    -86.800510

[127614 rows x 3 columns]

In [14]:
s1_joiner = s1_joiner.round({'endlatitude':4, 'endlongitude':4})

In [15]:
s1_joiner['end_location'] = '('+ s1_joiner['endlatitude'].astype(str) +', '+ s1_joiner['endlongitude'].astype(str) +')'

In [16]:
s1_joiner = s1_joiner['end_location'].value_counts().reset_index()

In [17]:
s1_joiner

              end_location  count
0        (36.15, -86.8145)    152
1      (36.1606, -86.7752)    146
2      (36.1604, -86.7751)    145
3      (36.1529, -86.7836)    120
4       (36.1609, -86.777)    118
...                    ...    ...
39036  (36.1745, -86.7816)      1
39037  (36.1636, -86.7684)      1
39038  (36.1302, -86.8023)      1
39039  (36.1794, -86.7502)      1
39040  (36.1422, -86.8005)      1

[39041 rows x 2 columns]

In [18]:
s1_joiner = s1_joiner[s1_joiner['count'] >=20]

In [19]:
s_temp = s1_joiner['end_location'].str.split(',',expand=True).rename(columns = {0:'lat', 1:'lon'})
s_lat = s_temp['lat'].str[1:]
s_lon = s_temp['lon'].str[:-1]
s1_joiner['lat'] = s_lat
s1_joiner['lon'] = s_lon

C:\Users\patri\AppData\Local\Temp\ipykernel_15352\1392771220.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1_joiner['lat'] = s_lat
C:\Users\patri\AppData\Local\Temp\ipykernel_15352\1392771220.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1_joiner['lon'] = s_lon

In [20]:
bs_uc1['end_location'] = '('+ bs_uc1['lat'].astype(str) +', '+ bs_uc1['lng'].astype(str) +')'

C:\Users\patri\AppData\Local\Temp\ipykernel_15352\2739178012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs_uc1['end_location'] = '('+ bs_uc1['lat'].astype(str) +', '+ bs_uc1['lng'].astype(str) +')'

In [21]:
s1.head(1)

,triprecordnum,starttime,startlatitude,startlongitude,endlatitude,endlongitude,start_location,end_location
0,LFT88,11:45:18.720000,36.15655,-86.78726,36.13449,-86.80193,"(36.15655, -86.78726)","(36.13449, -86.80193)"

In [22]:

s1['hub_start'] = (s1['startlatitude'].between(36.1590, 36.1741, inclusive='both') == True) & (s1['startlongitude'].between(-86.7912,-86.7720, inclusive='both') == True)

s1['hub_end'] = (s1['endlatitude'].between(36.1590, 36.1741, inclusive='both') ==True) & (s1['endlongitude'].between(-86.7912,-86.7720, inclusive='both') == True)

s1['vandy_start'] =(s1['startlatitude'].between(36.12673, 36.15429, inclusive='both')==True) & (s1['startlongitude'].between(-86.819158,-86.782740, inclusive='both') == True)

s1['vandy_end'] =(s1['endlatitude'].between(36.12673, 36.15429, inclusive='both')==True) & (s1['endlongitude'].between(-86.819158,-86.782740, inclusive='both') == True)

In [23]:
circles_please1 = {'v_lat':[36.144051],
                  'v_lon':[-86.800949]}

cp1 = pd.DataFrame(circles_please1)

p4_lat = cp1['v_lat']
p4_lon = cp1['v_lon']

# VVVV THIS IS TRASH FROM A TOILET

In [24]:
test_map = folium.Map(location = [p4_lat , p4_lon], zoom_start = 16)

folium.Circle(location = [p4_lat, p4_lon], radius = 805).add_to(test_map)

for row_index, row_values in bs_uc1.iterrows():
    loc1 = [row_values['lat'], row_values['lng']]
    pop1 = str(row_values['stop'])
    icon1 = folium.Icon(color= 'gray', icon="bus", prefix='fa')

    marker1 = folium.Marker(
        location = loc1, popup = pop1, icon = icon1)
    
    marker1.add_to(test_map)
    
for row_index, row_values in s1_joiner.iterrows():
    loc2 = [row_values['lat'], row_values['lon']]
    # pop2 = str(row_values['count'])
    # icon2 = folium.Icon(color= 'blue', icon='bolt', prefix='fa')
    icon2 = plugins.BeautifyIcon( icon="arrow-down", icon_shape="marker",
                         number= row_values['count'], border_color = 'blue')

    marker2 = folium.Marker(
        location = loc2, icon = icon2)
    
    marker2.add_to(test_map)

test_map.save('../maps/test_map.html')

# test_map

c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:69: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  float(coord)
c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:77: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  if math.isnan(float(coord)):
c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:79: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  return [float(x) for x in coords]

In [25]:
s1_hub_start = s1[['endlatitude', 'endlongitude', 'hub_start']]

In [26]:
s1_hub_start = s1_hub_start.round({'endlatitude':4, 'endlongitude':4})
s1_hub_start['end_location'] = '('+ s1_hub_start['endlatitude'].astype(str) +', '+ s1_hub_start['endlongitude'].astype(str) +')'

In [27]:
s1_hub_start = s1_hub_start[(s1['hub_start'] == True)]

In [28]:
s1_hub_start.head(1)

    endlatitude  endlongitude  hub_start         end_location
13      36.1587      -86.7768       True  (36.1587, -86.7768)

In [29]:
s1_hub_start = s1_hub_start['end_location'].value_counts().reset_index()

In [30]:
s1_hub_start = s1_hub_start[s1_hub_start['count'] >=10]

# s1_joiner = s1_joiner[s1_joiner['count'] >=20]

In [31]:
s1_hub_start.head(1)

        end_location  count
0  (36.16, -86.7766)     57

In [32]:
s_temp = s1_hub_start['end_location'].str.split(',',expand=True).rename(columns = {0:'lat', 1:'lon'})
s_lat = s_temp['lat'].str[1:]
s_lon = s_temp['lon'].str[:-1]
s1_hub_start['lat'] = s_lat
s1_hub_start['lon'] = s_lon

In [33]:
s1_hub_start.shape

(449, 4)

In [34]:
circles_please = {'h2_lat': [36.166768],
                  'h2_lon': [-86.781424]}

cp = pd.DataFrame(circles_please)

In [35]:
p5_lat = cp['h2_lat']
p5_lon = cp['h2_lon']

In [36]:
test_map2 = folium.Map(location = [p5_lat, p5_lon], zoom_start = 15)

folium.Circle(location = [p5_lat, p5_lon], radius = 805).add_to(test_map2)

# for row_index, row_values in bs_uc1.iterrows():
#     loc1 = [row_values['lat'], row_values['lng']]
#     pop1 = str(row_values['stop'])
#     icon1 = folium.Icon(color= 'gray', icon="bus", prefix='fa')

#     marker1 = folium.Marker(
#         location = loc1, popup = pop1, icon = icon1)
    
#     marker1.add_to(test_map2)
    
for row_index, row_values in s1_hub_start.iterrows():
    loc2 = [row_values['lat'], row_values['lon']]
    pop2 = str(row_values['count'])
    icon2 = folium.Icon(color= 'blue', icon='bolt', prefix='fa')

    marker2 = folium.Marker(
        location = loc2, popup = pop2, icon = icon2)
    
    marker2.add_to(test_map2)

# test_map2

c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:69: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  float(coord)
c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:77: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  if math.isnan(float(coord)):
c:\Users\patri\anaconda3\envs\scooters\lib\site-packages\folium\utilities.py:79: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  return [float(x) for x in coords]