In [10]:
from sqlalchemy import create_engine
import pandas as pd

In [11]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [12]:
engine = create_engine(connection_string)

In [17]:
query = '''
SELECT latitude
FROM scooters
Limit 5;
'''

In [19]:
import pandas as pd

In [30]:
lat = pd.read_sql(query, con = engine)
lat.head()

    latitude
0  36.170919
1  36.167448
2  36.179387
3  36.157090
4  36.161814

In [32]:
some_null = '''
SELECT COUNT(pubdatetime)
FROM scooters
LIMIT 5;
'''
result = engine.execute(some_null)