In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

scooters = create_engine(connection_string)

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [4]:
sco_per_co = '''
SELECT companyname, COUNT(sumdid)
FROM scooters
WHERE sumdgroup <> 'bicyle'
GROUP BY companyname
'''

sco_per_co = pd.read_sql(sco_per_co, con=scooters)
sco_per_co

  companyname     count
0        Bird  12251590
1        Bolt   3477198
2      Gotcha   4679280
3        Jump  21835098
4        Lime  16524261
5        Lyft   9087043
6        Spin   5559573

In [12]:
 sco_per_co = '''
    SELECT CAST(pubdatetime as DATE) AS week, COUNT(sumdid) OVER (PARTITION BY companyname ORDER BY CAST(pubdatetime as DATE)) AS RunningTotal
    FROM scooters
    ORDER BY pubdatetime;
    '''

sco_per_co = pd.read_sql(sco_per_co, con=scooters)
sco_per_co

                week  runningtotal
0         2019-05-01        155563
1         2019-05-01        155563
2         2019-05-01        155563
3         2019-05-01        155563
4         2019-05-01        155563
...              ...           ...
73414038  2019-07-31       3477198
73414039  2019-07-31       3477198
73414040  2019-07-31       3477198
73414041  2019-07-31       3477198
73414042  2019-07-31       3477198

[73414043 rows x 2 columns]

In [15]:
 sco_per_co = '''
    SELECT WEEK(CAST(pubdatetime as DATE)) AS week, COUNT(sumdid) OVER (PARTITION BY companyname ORDER BY WEEK(CAST(pubdatetime as DATE))) AS RunningTotal
    FROM scooters
    ORDER BY pubdatetime;
    '''

sco_per_co = pd.read_sql(sco_per_co, con=scooters)
sco_per_co

ProgrammingError: (psycopg2.errors.UndefinedFunction) function week(date) does not exist
LINE 2:    SELECT WEEK(CAST(pubdatetime as DATE)) AS week, COUNT(sum...
                  ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL:
   SELECT WEEK(CAST(pubdatetime as DATE)) AS week, COUNT(sumdid) OVER (PARTITION BY companyname ORDER BY WEEK(CAST(pubdatetime as DATE))) AS RunningTotal
   FROM scooters
   ORDER BY pubdatetime;
   ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
tester = '''
SELECT 
    COUNT(DISTINCT sumdid), 
    companyname
FROM trips
WHERE pubtimestamp BETWEEN '2019-05-01 00:00:00.000	' 
                        AND '2019-06-01 00:00:00.000 '
GROUP BY companyname
'''

test = pd.read_sql(tester, con=scooters)
test

   count    companyname
0   2945           Bird
1    342  Bolt Mobility
2    105         Gotcha
3      1           JUMP
4   1575           Lime
5   1361           Lyft
6    636           SPIN