In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
database_name = 'scoots'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
schema_scooters = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'scooters'
ORDER BY ORDINAL_POSITION
'''

sch_scoo = pd.read_sql(schema_scooters, con = engine)
sch_scoo

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scoots,public,scooters,pubdatetime,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scoots,public,scooters,latitude,2,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scoots,public,scooters,longitude,3,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scoots,public,scooters,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scoots,public,scooters,sumdtype,5,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scoots,public,scooters,chargelevel,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scoots,public,scooters,sumdgroup,7,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scoots,public,scooters,costpermin,8,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scoots,public,scooters,companyname,9,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [6]:
schema_trips = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'trips'
ORDER BY ORDINAL_POSITION
'''

sch_tri = pd.read_sql(schema_trips, con = engine)
sch_tri

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scoots,public,trips,pubtimestamp,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scoots,public,trips,companyname,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scoots,public,trips,triprecordnum,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scoots,public,trips,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scoots,public,trips,tripduration,5,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scoots,public,trips,tripdistance,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scoots,public,trips,startdate,7,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scoots,public,trips,starttime,8,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scoots,public,trips,enddate,9,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,scoots,public,trips,endtime,10,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,scoots,public,trips,startlatitude,11,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,scoots,public,trips,startlongitude,12,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,scoots,public,trips,endlatitude,13,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,scoots,public,trips,endlongitude,14,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,scoots,public,trips,triproute,15,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,scoots,public,trips,create_dt,16,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [25]:
#- Are there any null values in any columns in either table?

In [7]:
deez_nulls = '''
SELECT 
    SUM (CASE when chargelevel ISNULL then 1 else 0 end)/SUM(1.0)
FROM scooters
'''

dn1 = pd.read_sql(deez_nulls, con = engine)
dn1

   ?column?
0   0.00001

In [24]:
deez_nulls2 = '''
SELECT 
    SUM (CASE when create_dt ISNULL then 1 else 0 end)/SUM(1.0)
FROM trips
'''

dn2 = pd.read_sql(deez_nulls2, con = engine)
dn2

   ?column?
0       0.0

In [27]:
# - What date range is represented in each of the date columns? Investigate any values that seem odd.
# (trips is pubtimestamp)

In [28]:
date_scoo = '''
SELECT 
    MAX(pubdatetime),
    MIN(pubdatetime)
FROM scooters
'''

ds = pd.read_sql(date_scoo, con=engine)
ds

                  max                     min
0 2019-07-31 23:59:57 2019-05-01 00:01:41.247

In [29]:
date_trips = '''
SELECT 
    MAX(pubtimestamp),
    MIN(pubtimestamp)
FROM trips
'''

dt = pd.read_sql(date_trips, con=engine)
dt

                  max                     min
0 2019-08-01 07:04:00 2019-05-01 00:00:55.423

In [31]:
overtime = '''
SELECT *
FROM trips
WHERE pubtimestamp = '2019-08-01 07:04:00'
'''

ot = pd.read_sql(overtime, con=engine)
ot

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.34561,20433.6,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.78545,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.40965,14889.6,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.78210,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [40]:
overtime2 = '''
SELECT *
FROM trips
WHERE pubtimestamp = '2019-08-01 07:04:00'
'''

ot2 = pd.read_sql(overtime, con=engine)
ot2

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.34561,20433.6,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.78545,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.40965,14889.6,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.78210,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [37]:
count = '''SELECT COUNT(pubtimestamp) FROM trips'''
cou = pd.read_sql(count, con=engine)
cou

    count
0  565522

In [42]:
crash = '''
SELECT * 
FROM trips 
ORDER BY pubtimestamp DESC 
LIMIT 10
'''

cra = pd.read_sql(crash, con=engine)
cra

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00.000,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.600000,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.600000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000
2,2019-08-01 04:53:48.000,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.000000,2019-07-31,23:57:19,2019-08-01,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[('36.153016', '-86.783586'), ('36.153016', '-...",2019-08-02 08:21:26.773
3,2019-08-01 04:53:48.000,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.200000,2019-07-31,23:47:43,2019-08-01,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[('36.154631', '-86.798341'), ('36.154631', '-...",2019-08-02 08:21:27.127
4,2019-08-01 04:53:48.000,JUMP,JMP4,Powered1691872e-b176-5fc6-86ed-967d00644179,17.567150,7497.600000,2019-07-31,23:47:56,2019-08-01,00:05:30,36.154640,-86.798420,36.149390,-86.814156,"[('36.15464', '-86.798425'), ('36.15464', '-86...",2019-08-02 08:21:27.093
5,2019-08-01 04:53:48.000,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.000000,2019-07-31,23:41:52,2019-08-01,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[('36.153685', '-86.784578'), ('36.153685', '-...",2019-08-02 08:21:26.803
6,2019-08-01 04:53:48.000,JUMP,JMP6,Poweredd913663d-659b-5afd-9a37-a1b85c6a36b2,11.364550,5808.000000,2019-07-31,23:57:37,2019-08-01,00:08:59,36.150910,-86.782810,36.159283,-86.777880,"[('36.150911', '-86.782806'), ('36.150431', '-...",2019-08-02 08:21:28.530
7,2019-08-01 02:14:12.163,SPIN,SPI201,Powered6219542,140.000000,239.501320,2019-07-31,23:54:20,2019-08-01,02:14:09,36.148476,-86.807011,36.147899,-86.807403,"[(36.14808, -86.80634), (36.14805, -86.80655),...",2019-08-02 11:30:29.923
8,2019-08-01 01:04:46.710,Lyft,LFT106,Powered786553,69.087417,28139.764680,2019-07-31,23:55:41.390000,2019-08-01,01:04:46.633333,36.164780,-86.779850,36.214170,-86.758240,"[(36.16478, -86.77985), (36.16476, -86.7798), ...",2019-08-02 10:28:27.833
9,2019-08-01 00:59:26.157,Lime,LIM824111,Powered7C527S3HH24NS,24.000000,12876.353853,2019-07-31,23:57:38,2019-08-01,00:21:42,36.189432,-86.801973,36.188100,-86.800985,"[(36.18947, -86.80195), (36.18946, -86.80199),...",2019-08-02 09:22:33.853

In [48]:
uni_com = '''
SELECT 
    DISTINCT companyname,
    COUNT (companyname)
FROM scooters
GROUP BY companyname
ORDER BY COUNT(companyname) DESC
'''

uc = pd.read_sql(uni_com, con=engine)
uc

  companyname     count
0        Jump  21835098
1        Lime  16524261
2        Bird  12251590
3        Lyft   9087043
4        Spin   5559573
5      Gotcha   4679280
6        Bolt   3477198

In [47]:
uni_scoo = '''
SELECT 
    DISTINCT sumdid
FROM scooters
'''

us = pd.read_sql(uni_scoo, con=engine)
us

                                             sumdid
0      Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619
1      Powered-01a24436-0315-e1bb-7ce0-d081d05dff7d
2      Powered-03be23ca-d43b-222f-be54-e44b5b4690df
3      Powered-046201fb-6532-1f37-6334-3612fb1e61f7
4      Powered-0479bb84-afbd-0426-f1c4-df628542a88c
...                                             ...
10013                         Standard5JXOV277MCWID
10014                         StandardNPOOZNUSGAXZN
10015                         StandardNUTLLXP4G37OI
10016                         StandardNW5HJFO4R32LY
10017                         StandardZPUQESHVPP74J

[10018 rows x 1 columns]