In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
database_name = 'scoots'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
schema_scooters = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'scooters'
ORDER BY ORDINAL_POSITION
'''

sch_scoo = pd.read_sql(schema_scooters, con = engine)
sch_scoo

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scoots,public,scooters,pubdatetime,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scoots,public,scooters,latitude,2,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scoots,public,scooters,longitude,3,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scoots,public,scooters,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scoots,public,scooters,sumdtype,5,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scoots,public,scooters,chargelevel,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scoots,public,scooters,sumdgroup,7,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scoots,public,scooters,costpermin,8,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scoots,public,scooters,companyname,9,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [6]:
schema_trips = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'trips'
ORDER BY ORDINAL_POSITION
'''

sch_tri = pd.read_sql(schema_trips, con = engine)
sch_tri

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scoots,public,trips,pubtimestamp,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scoots,public,trips,companyname,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scoots,public,trips,triprecordnum,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scoots,public,trips,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scoots,public,trips,tripduration,5,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scoots,public,trips,tripdistance,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scoots,public,trips,startdate,7,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scoots,public,trips,starttime,8,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scoots,public,trips,enddate,9,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,scoots,public,trips,endtime,10,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,scoots,public,trips,startlatitude,11,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,scoots,public,trips,startlongitude,12,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,scoots,public,trips,endlatitude,13,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,scoots,public,trips,endlongitude,14,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,scoots,public,trips,triproute,15,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,scoots,public,trips,create_dt,16,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [25]:
#- Are there any null values in any columns in either table?

In [7]:
deez_nulls = '''
SELECT 
    SUM (CASE when chargelevel ISNULL then 1 else 0 end)/SUM(1.0)
FROM scooters
'''

dn1 = pd.read_sql(deez_nulls, con = engine)
dn1

   ?column?
0   0.00001

In [24]:
deez_nulls2 = '''
SELECT 
    SUM (CASE when create_dt ISNULL then 1 else 0 end)/SUM(1.0)
FROM trips
'''

dn2 = pd.read_sql(deez_nulls2, con = engine)
dn2

   ?column?
0       0.0

In [27]:
# - What date range is represented in each of the date columns? Investigate any values that seem odd.
# (trips is pubtimestamp)

In [28]:
date_scoo = '''
SELECT 
    MAX(pubdatetime),
    MIN(pubdatetime)
FROM scooters
'''

ds = pd.read_sql(date_scoo, con=engine)
ds

                  max                     min
0 2019-07-31 23:59:57 2019-05-01 00:01:41.247

In [29]:
date_trips = '''
SELECT 
    MAX(pubtimestamp),
    MIN(pubtimestamp)
FROM trips
'''

dt = pd.read_sql(date_trips, con=engine)
dt

                  max                     min
0 2019-08-01 07:04:00 2019-05-01 00:00:55.423

In [31]:
overtime = '''
SELECT *
FROM trips
WHERE pubtimestamp = '2019-08-01 07:04:00'
'''

ot = pd.read_sql(overtime, con=engine)
ot

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.34561,20433.6,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.78545,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.40965,14889.6,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.78210,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [40]:
overtime2 = '''
SELECT *
FROM trips
WHERE pubtimestamp = '2019-08-01 07:04:00'
'''

ot2 = pd.read_sql(overtime, con=engine)
ot2

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.34561,20433.6,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.78545,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.40965,14889.6,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.78210,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [37]:
count = '''SELECT COUNT(pubtimestamp) FROM trips'''
cou = pd.read_sql(count, con=engine)
cou

    count
0  565522

In [42]:
crash = '''
SELECT * 
FROM trips 
ORDER BY pubtimestamp DESC 
LIMIT 10
'''

cra = pd.read_sql(crash, con=engine)
cra

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-08-01 07:04:00.000,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.600000,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
1,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.600000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000
2,2019-08-01 04:53:48.000,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.000000,2019-07-31,23:57:19,2019-08-01,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[('36.153016', '-86.783586'), ('36.153016', '-...",2019-08-02 08:21:26.773
3,2019-08-01 04:53:48.000,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.200000,2019-07-31,23:47:43,2019-08-01,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[('36.154631', '-86.798341'), ('36.154631', '-...",2019-08-02 08:21:27.127
4,2019-08-01 04:53:48.000,JUMP,JMP4,Powered1691872e-b176-5fc6-86ed-967d00644179,17.567150,7497.600000,2019-07-31,23:47:56,2019-08-01,00:05:30,36.154640,-86.798420,36.149390,-86.814156,"[('36.15464', '-86.798425'), ('36.15464', '-86...",2019-08-02 08:21:27.093
5,2019-08-01 04:53:48.000,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.000000,2019-07-31,23:41:52,2019-08-01,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[('36.153685', '-86.784578'), ('36.153685', '-...",2019-08-02 08:21:26.803
6,2019-08-01 04:53:48.000,JUMP,JMP6,Poweredd913663d-659b-5afd-9a37-a1b85c6a36b2,11.364550,5808.000000,2019-07-31,23:57:37,2019-08-01,00:08:59,36.150910,-86.782810,36.159283,-86.777880,"[('36.150911', '-86.782806'), ('36.150431', '-...",2019-08-02 08:21:28.530
7,2019-08-01 02:14:12.163,SPIN,SPI201,Powered6219542,140.000000,239.501320,2019-07-31,23:54:20,2019-08-01,02:14:09,36.148476,-86.807011,36.147899,-86.807403,"[(36.14808, -86.80634), (36.14805, -86.80655),...",2019-08-02 11:30:29.923
8,2019-08-01 01:04:46.710,Lyft,LFT106,Powered786553,69.087417,28139.764680,2019-07-31,23:55:41.390000,2019-08-01,01:04:46.633333,36.164780,-86.779850,36.214170,-86.758240,"[(36.16478, -86.77985), (36.16476, -86.7798), ...",2019-08-02 10:28:27.833
9,2019-08-01 00:59:26.157,Lime,LIM824111,Powered7C527S3HH24NS,24.000000,12876.353853,2019-07-31,23:57:38,2019-08-01,00:21:42,36.189432,-86.801973,36.188100,-86.800985,"[(36.18947, -86.80195), (36.18946, -86.80199),...",2019-08-02 09:22:33.853

In [49]:
crash2 = '''
SELECT * 
FROM trips 
ORDER BY pubtimestamp 
LIMIT 10
'''

cra2 = pd.read_sql(crash2, con=engine)
cra2

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
4,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
5,2019-05-01 00:05:55.570,Bird,BRD2167,PoweredEJF1K,3.000000,984.25200,2019-05-01,00:03:56.546666,2019-05-01,00:06:45.786666,36.15440,-86.78620,36.15150,-86.78440,"[(36.154368, -86.785909), (36.151689, -86.7843...",2019-05-02 05:30:24.317
6,2019-05-01 00:07:55.880,Lyft,LFT10,Powered329418,1.093917,0.00000,2019-05-01,00:06:50.106666,2019-05-01,00:07:55.740000,36.15168,-86.78408,36.15171,-86.78411,"[(36.15168, -86.78408), (36.15171, -86.78411)]",2019-05-02 07:20:32.890
7,2019-05-01 00:10:50.240,Lyft,LFT13,Powered438572,2.954383,1161.41736,2019-05-01,00:07:52.853333,2019-05-01,00:10:50.116666,36.15193,-86.78439,36.15463,-86.78492,"[(36.15193, -86.78439), (36.15188, -86.78432),...",2019-05-02 07:20:32.990
8,2019-05-01 00:10:56.013,Bird,BRD2194,PoweredL968V,6.000000,2624.67200,2019-05-01,00:05:36.870000,2019-05-01,00:11:19.183333,36.15650,-86.79710,36.15120,-86.79680,"[(36.15654, -86.797137), (36.153065, -86.79804...",2019-05-02 05:30:24.920
9,2019-05-01 00:10:56.013,Bird,BRD2193,PoweredSX2AW,6.000000,2624.67200,2019-05-01,00:06:34.436666,2019-05-01,00:12:48.676666,36.17080,-86.78930,36.17460,-86.78600,"[(36.170995, -86.789593), (36.173193, -86.7912...",2019-05-02 05:30:24.833

trips for scooter Powered9EAJL

In [50]:
crash3 = '''
SELECT * 
FROM trips 
WHERE sumdid = 'Powered9EAJL'
'''

cra3 = pd.read_sql(crash3, con=engine)
cra3

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.1571,-86.8036,36.1566,-86.8067,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-02 03:37:11.417,Bird,BRD2352,Powered9EAJL,7.0,4488.18912,2019-05-02,03:30:18.376666,2019-05-02,03:37:47.066666,36.1507,-86.7968,36.1492,-86.8070,"[(36.150866, -86.796952), (36.150866, -86.7969...",2019-05-03 05:30:31.620
2,2019-05-03 19:09:06.420,Bird,BRD1534,Powered9EAJL,15.0,7500.00024,2019-05-03,18:54:18.040000,2019-05-03,19:09:19.356666,36.1563,-86.7750,36.1649,-86.7734,"[(36.156886, -86.775284), (36.156886, -86.7752...",2019-05-04 05:31:20.147
3,2019-05-07 18:03:49.303,Bird,BRD789,Powered9EAJL,3.0,777.55908,2019-05-07,18:02:51.126666,2019-05-07,18:05:34.500000,36.1712,-86.7521,36.1712,-86.7524,"[(36.17125, -86.752052), (36.17125, -86.752052...",2019-05-08 05:31:14.120

trips per scooter id

In [54]:
crash4 = ''' 
SELECT 
    DISTINCT sumdid,
    COUNT (sumdid)
FROM trips
GROUP BY sumdid
ORDER BY COUNT(sumdid) DESC
LIMIT 5
'''

cra4 = pd.read_sql(crash4, con=engine)
cra4

                                        sumdid  count
0                               PoweredUNKNOWN   3613
1  Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2   1908
2                         PoweredR3QXO6TL2HIAB    382
3                         PoweredZ6HF5P5HCJCT5    369
4                         PoweredCL37MXJKM7RS5    352

scooters per company

In [48]:
uni_com = '''
SELECT 
    DISTINCT companyname,
    COUNT (companyname)
FROM scooters
GROUP BY companyname
ORDER BY COUNT(companyname) DESC
'''

uc = pd.read_sql(uni_com, con=engine)
uc

  companyname     count
0        Jump  21835098
1        Lime  16524261
2        Bird  12251590
3        Lyft   9087043
4        Spin   5559573
5      Gotcha   4679280
6        Bolt   3477198

V unique scooters V

In [47]:
uni_scoo = '''
SELECT 
    DISTINCT sumdid
FROM scooters
'''

us = pd.read_sql(uni_scoo, con=engine)
us

                                             sumdid
0      Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619
1      Powered-01a24436-0315-e1bb-7ce0-d081d05dff7d
2      Powered-03be23ca-d43b-222f-be54-e44b5b4690df
3      Powered-046201fb-6532-1f37-6334-3612fb1e61f7
4      Powered-0479bb84-afbd-0426-f1c4-df628542a88c
...                                             ...
10013                         Standard5JXOV277MCWID
10014                         StandardNPOOZNUSGAXZN
10015                         StandardNUTLLXP4G37OI
10016                         StandardNW5HJFO4R32LY
10017                         StandardZPUQESHVPP74J

[10018 rows x 1 columns]

    - Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [58]:
time = '''
SELECT 
    MAX(s.pubdatetime) as scooter_date,
    (SELECT MAX(pubtimestamp) FROM trips) as trip_date,
    (SELECT MAX(create_dt) FROM trips) as trip_dt
FROM scooters as s
'''

t = pd.read_sql(time, con=engine)
t

         scooter_date           trip_date                 trip_dt
0 2019-07-31 23:59:57 2019-08-01 07:04:00 2019-08-02 11:30:29.923

could refer back to crash 3 for pubtimestamp

In [64]:
time2 = '''
SELECT *
FROM trips
WHERE sumdid = 'PoweredCL37MXJKM7RS5'
LIMIT 10	
'''

t2 = pd.read_sql(time2, con=engine)
t2

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-04 17:18:27.150,Lime,LIM1709,PoweredCL37MXJKM7RS5,34.900000,401.7264,2019-05-04,13:45:50,2019-05-04,14:20:44,36.168429,-86.782791,36.168101,-86.783042,"[(36.16747, -86.78148), (36.16604, -86.78155),...",2019-05-05 07:44:07.307
1,2019-05-04 17:18:27.190,Lime,LIM1781,PoweredCL37MXJKM7RS5,8.816667,294.4368,2019-05-04,15:18:19,2019-05-04,15:27:08,36.167863,-86.783015,36.163976,-86.780908,"[(36.16817, -86.78302), (36.16796, -86.78308),...",2019-05-05 07:44:09.910
2,2019-05-04 17:18:27.203,Lime,LIM1794,PoweredCL37MXJKM7RS5,2.400000,80.7720,2019-05-04,15:30:01,2019-05-04,15:32:25,36.163976,-86.780908,36.162724,-86.779664,"[(36.16406, -86.78068), (36.16382, -86.78075),...",2019-05-05 07:44:10.313
3,2019-05-04 17:18:27.220,Lime,LIM1820,PoweredCL37MXJKM7RS5,8.883333,484.0224,2019-05-04,15:37:58,2019-05-04,15:46:51,36.162724,-86.779664,36.154226,-86.786954,"[(36.1628, -86.77964), (36.16272, -86.7797), (...",2019-05-05 07:44:11.120
4,2019-05-05 05:18:29.003,Lime,LIM319,PoweredCL37MXJKM7RS5,15.500000,288.9504,2019-05-05,04:26:26,2019-05-05,04:41:56,36.153644,-86.788741,36.149339,-86.789995,"[(36.15346, -86.78882), (36.153470000000006, -...",2019-05-06 06:47:27.113
5,2019-05-05 22:18:39.323,Lime,LIM3013,PoweredCL37MXJKM7RS5,10.550000,897.0264,2019-05-05,21:15:19,2019-05-05,21:25:52,36.143165,-86.799927,36.158939,-86.775567,"[(36.1435, -86.79984), (36.143530000000005, -8...",2019-05-06 07:00:01.857
6,2019-05-05 22:18:39.553,Lime,LIM3188,PoweredCL37MXJKM7RS5,13.700000,265.1760,2019-05-05,21:33:33,2019-05-05,21:47:15,36.158939,-86.775567,36.157476,-86.768527,"[(36.1597, -86.77498), (36.1594, -86.77457), (...",2019-05-06 07:00:08.440
7,2019-05-05 23:18:40.657,Lime,LIM3548,PoweredCL37MXJKM7RS5,10.550000,897.0264,2019-05-05,21:15:19,2019-05-05,21:25:52,36.143165,-86.799927,36.158939,-86.775567,"[(36.1435, -86.79984), (36.143530000000005, -8...",2019-05-06 07:02:24.330
8,2019-05-06 07:18:38.863,Lime,LIM897,PoweredCL37MXJKM7RS5,7.916667,603.5040,2019-05-06,06:16:06,2019-05-06,06:24:01,36.163405,-86.781292,36.153320,-86.801124,"[(36.16226, -86.78208), (36.161, -86.785559999...",2019-05-07 06:44:22.273
9,2019-05-06 16:18:44.430,Lime,LIM1270,PoweredCL37MXJKM7RS5,19.300000,858.9264,2019-05-06,15:11:20,2019-05-06,15:30:38,36.151620,-86.803540,36.151093,-86.784772,"[(36.15246, -86.80252), (36.15293, -86.8016000...",2019-05-07 06:49:59.943